.img-h165--cover {
  object-fit: cover;
  height: 165px;
}

.img-round {
  border-radius: 50%;
}

.reset_col {
  padding-left: 0;
  padding-right: 0;
}

/* home button */
.home_button {
  margin-top: 68px;
  border: 1px solid white;
}
.home_button a {
  color: white;
}
.home_button a:hover {
  color: #4867c0;
  background: white;
}
.home_button::before {
  background-color: transparent;
  background-image: none;
  background: none;
}

/* sponsor section on index */
.sponsor {
  width: 100%;
  background-color: #ededed;
}

.sponsor_content {
  width: 100%;
  padding-left: 130px;
  padding-right: 150px;
  padding-top: 103px;
  padding-bottom: 114px;
}

.sponsor_title {
  font-size: 30px;
  font-weight: 500;
  color: #4c4c4c;
}

.sponsor_text {
  margin-top: 49px;
}

.sponsor_button {
  margin-top: 68px;
  border: 1px solid #4867c0;
}
.sponsor_button a {
  color: #4867c0;
}
.sponsor_button a:hover {
  color: white;
  background: #4867c0;
}
.sponsor_button::before {
  background-color: transparent;
  background-image: none;
  background: none;
}

.microsoft_sponsor_logo {
  width: 50%;
  margin-left: -20px;
}
