.img-h165--cover {
  object-fit: cover;
  height: 165px;
}

.img-round {
  border-radius: 50%;
}

.reset_col {
  padding-left: 0;
  padding-right: 0;
}

/* home button */
.home_button {
  margin-top: 68px;
  border: 1px solid white;
}
.home_button a {
  color: white;
}
.home_button a:hover {
  color: #4867c0;
  background: white;
}
.home_button::before {
  background-color: transparent;
  background-image: none;
  background: none;
}
.program_content_collapsing {
  padding-top: 10px;
  padding-right: 50px;		
  padding-bottom: 10px;
}
.program {
  margin-top: 10px;
  margin-bottom: 10px;
}
.program_block > h2
{
	font-size: 26px;
	font-weight: 500;
}

.program_block > h3
{
	font-size: 22px;
	font-weight: 500;
	color: #4c4c4c;
}

.program_block > h5
{
	font-size: 16px;
	font-weight: 500;
}
.author_image
{
  align-content: center;
  float: left;
  width:200px;
  margin-right: 20px;
}
.author_image > img
{
  width: 200px;
  margin-bottom: 10px;
}
.author_content
{
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  margin-left: 0px;
}
.panelist_content
{
  margin-top: 0px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  margin-left: 0px;
}
.logo_link {
  line-height: 20px;
}
.logo_link_mobile a {
  color: #fff;
  text-decoration: underline;
}
.menu_item_mobile a {
  color: #fff;
  text-decoration: underline;
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-weight: 500;
}
.menu_item_mobile select {
	padding: 10px;
	cursor: pointer;
}
.menu_item_mobile select option {
	color: #000;
}

/*** styles for nav dropdown begin ***/
.topnav {
  overflow: visible;
  background-color: #fff;
}

.topnav a {
  float: left;
  display: block;
  color: #4c4c4c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: #4c4c4c;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: visible;
}

.dropdown .dropbtn {   
  outline: none;
  color: #4c4c4c;
  padding: 10px 16px;
  background-color: #fff;
  margin: 0;
  cursor: pointer;
  border: solid 1px #000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
  min-width: 60px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #4c4c4c;
  padding: 12px 23px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 14px!important;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #fff;
  color: #4c4c4c;
}

.dropdown-content a:hover {
  background-color: #fff;
  color: #4c4c4c;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-mobile {
  float: none;
}
/*** styles for nav dropdown end ***/
